<div class="user_show">
 <%= @user.username %>
 <%= @user.image %>
 <%= @user.name %>
 <%= @user.birthday %>
 <%= @user.sex %>
 <%= @user.homeCountry %>
 <%= @user.nativeLanguage%>
 <%= @user.newLanguage%>
 <%= @user.languageLevel%>
 <%= @user.job%>
 <%= @user.residence%>
 <%= @user.introduction%>
 <%= @user.like%>

 <%= link_to "ユーザー編集",edit_user_registration_path %>
 <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
</div>
