<div class="user_signUp">
  <div class="container">
  <div class="row">
   <div class="col-md-1">
   </div>
  <div class="col-md-9">
  <h1>Sign Up</h1>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="fields">
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"Email", class:"col-md-12"%>
    </div>

    <div class="field">
      <% if @minimum_password_length %>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password",placeholder:"Password(6 characters minimum)", class:"col-md-12" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password",placeholder:"Password Confirmation", class:"col-md-12" %>
    </div>
  </div>
  <div class="otherOptions">
    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-primary btn-lg" %>
    </div>
    <% end %>
    <%= render "users/shared/links" %>
    <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
  </div>
  </div>
 </div>
